[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "22"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_SUPABASE_URL = "https://yupijhwsiqejapufdwhk.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1cGlqaHdzaXFlamFwdWZkd2hrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM3NTg3ODksImV4cCI6MjA3OTMzNDc4OX0.MQ1NIAf7i6IDafS0avwYoo2O4DDQ4hLdnlS1nHW_2A4"
  VITE_DEEPSEEK_API_KEY = "sk-c7cb7706be1d4185ad81ef4e4df7ecf7"
  VITE_GEMINI_API_KEY = "AIzaSyAkir5Yb08HTaWo5U0FdG9T18ML0vUC_GU"
  VITE_CLOUDINARY_CLOUD_NAME = "dbzkzqux3"
  VITE_CLOUDINARY_UPLOAD_PRESET = "auto_inspection"
